{% extends ":"~template~":base.html.twig" %}

{% block content %}
<div class="hero page">
   <div  data-section-wrapper="1">
   <div data-section="1">
      <div class="navbar w-nav">
        <div class="navcont w-container">
          <a href="//sade.africa" class="w-nav-brand" target="_blank">
            <div class="logowrap" data-slot-container="1">
             <div data-slot="text"><img src="{{ getAssetUrl('themes/'~template~'/images/logo_svg.svg') }}" width="105" alt=""></div>
              <div class="bottomright"><img src="{{ getAssetUrl('themes/'~template~'/images/pronounced.svg') }}" alt=""></div>
            </div>
          </a>
        
         
        </div>
      </div>
   

    <div class="herocontwrap">
      <div class="container">
        <div class="w-row">
          <div class="w-col w-col-4 hidemobile" data-slot-container="1">
            <div class="paddedblk herocont page">
                <div data-slot="text"><h1 class="heading white">Common Questions</h1></div>
                <div data-slot="text"><div class="txtblk margined">social meda content assistance by real humans powered by sade*</div></div>
                <div data-slot="text"> <img src="{{ getAssetUrl('themes/'~template~'/images/ladysade.png') }}" alt="" class="contimg"><img src="{{ getAssetUrl('themes/'~template~'/images/ladysade.png') }}" alt="" class="contimg"></div></div>
          </div>
          <div class="w-col w-col-8">
            <div class="paddedblk contentblk" data-slot-container="1">
                <div data-slot="text"><h3 class="heading"><strong>3 Mistakes to avoid when Creating Content for Social Media</strong></h3></div>
                <div data-slot="text"> <div class="txtblk paragraph">SMEs want to boost their business on social media, so they can move on to sales (the real heart of the business).Often times they look to hire expertise, with content creation skill to handle their page.<br></div></div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
   
     </div>
    </div>
  </div>
   
   
   <div id="features" class="features" style="margin-top:20px;">
    <div class="container">
      <div class="w-row">
        <div class="w-col w-col-8">
          <div data-w-id="3400eb23-b6e1-422e-fb3f-79ae94bc63cf" class="titleblk full">
            <h2 class="heading">Be consistent on social media, keep your audience engaged</h2>
            <div class="line w40"></div>
            <div class="txtblk margined"><strong>sade</strong> help your brand stay relevant, build trust, and position for sales on social media by automating the production and scheduling of tailored brand content.</div>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="paddedblk"><a href="https://sade.africa/#features" class="btn block w-button">Start Here</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footerblk">
    <div class="container">
      <div class="w-row">
        <div class="w-col w-col-3">
          <div class="paddedblk small"><a href="#" class="logowrap zeroleft w-inline-block"><img src="{{ getAssetUrl('themes/'~template~'/images/logo_svg.svg') }}" width="150" alt="" class="logobottom"></a>
            <div class="txtblk smalltxt">sade.africa</div>
          </div>
        </div>
        <div class="w-col w-col-9">
          <div class="paddedblk w-clearfix">
            <div class="navright">
              <ul class="socialmenulist w-list-unstyled">
                <li class="sociallist"><a href="https://facebook.com/sadeafricamedia" target="_blank" class="w-inline-block"><img src="//sade.africa/images/facebook.svg" alt=""></a></li>
                <li class="sociallist"><a href="https://twitter.com/sadeafrica" target="_blank" class="w-inline-block"><img src="//sade.africa/images/twitter.svg" alt=""></a></li>
                <li class="sociallist"><a href="https://instagram.com/sade.africa" target="_blank" class="w-inline-block"><img src="//sade.africa/images/instagram.svg" alt=""></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <script src="https://d1tdp7z6w94jbb.cloudfront.net/js/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="//sade.africa/js/appflow.js" type="text/javascript"></script>

{% endblock %}
